body {
  background-image: url("../img/zigzag.png");
  background-repeat: repeat;
  color: white;
  font-family: "Courier New";
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  width: 100%;

  /*border: 1px solid white;*/
}

#header {
  position: absolute;
  top: 40px;
  font-family: "Ubuntu";
  font-weight: bold;
  text-align: center;
  width: 100%;
  font-size: 36px;
}

#qr {
  text-align: center;
  border-radius: 10px;
}

#clipboard {
  position: relative;
  top: -56px;
  left: 134px;
}

#address {
  margin-top: 20px;
  font-size: 12px;
}

#balance {
  /*margin-top: 20px;*/
  font-size: 24px;
}

input {
  font-family: "Courier New";
  background: transparent;
  color: white;
  border: 1px solid grey;
}

input:focus {
  outline: none;
}

.input-label {
  text-align: center;
  margin-top: 20px;
}

#input-send-address {
  width: 290px;
}

#input-send-amount {
  font-size: 18px;
  width: 100px;
  text-align: center;
}

#spinner {
  opacity: 0.5;
  background: black;
  color: black;
  width: 100%;
  height: 100%;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  z-index: 50;
}

#spinner-animation {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -250px);
}

.button {
  border: 1px solid white;
  background: white;
  color: black;
  margin-top: 20px;
  font-family: "Ubuntu";
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
  width: 200px;
  position: relative;
  left: 50%;
  transform: translate(-50%, 0);
}

.button a {
  color: black;
  text-decoration: none;
}

a {
  color: white;
  text-decoration: none;
}
